<h3> Select your city </h3>

<form [formGroup]="formGroup">
  <mat-form-field>
    <input matInput placeholder="Country" aria-label="country" [matAutocomplete]="autoCountry" formControlName="counrty">
    <mat-autocomplete (optionSelected)="selectCountry($event)" #autoCountry="matAutocomplete">
      <mat-option *ngFor="let country of countries$ | async" [value]="country.name">
        <span>{{country.name  | titlecase}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="City" aria-label="city" [matAutocomplete]="autoCity" formControlName="city">
    <mat-autocomplete #autoCity="matAutocomplete">
      <mat-option *ngFor="let city of cities$ | async" [value]="city.name">
        <span>{{city.name  | titlecase}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>